/* Body styling */
body{
    margin: 0%;
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    background-color: #eeeeee;
    font-style: normal;
}
 
 
header{
    background-color: rgb(52,157,249);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.search{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 250px;
    height: 30px;
    padding-left: 1%;
    border: 1px solid black;
    background-color: white;
    color: black;
}
 
nav a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
 
 
.container{
    margin: 0% auto;
    margin-top: 30px;
    height: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 310px repeat(3,230px);
 
 
}
 /* Styling for individual movie boxes and images */

 
.box-1 img{
    object-fit: contain;
    width: 100%;
    height: auto;
 
}
.box-2 img{
    object-fit: contain;
    width: 100%;
    height: auto;
}
.box-3 img{
    object-fit: contain;
    width: 100%;
    height: auto;
}
.box-4 img{
    object-fit: contain;
    width: 100%;
    height: auto;
}
.box-5 img{
    object-fit: contain;
    width: 100%;
    height: auto;
}
 
.box-1{
    border: 2px solid rgba(201, 201, 201, 0.276);
    grid-column: span 2;
    grid-row: span 2;
    box-shadow: 4px 4px 2px rgb(201, 201, 201);
    background-color: white;
    height: 770px;
 
 
}
.box-2{
    border: 1px solid rgba(86, 86, 86, 0.527);
    box-shadow: 4px 4px 2px rgb(201, 201, 201);
    background-color: white;
 
 
 
}
 
.box-3{
    border: 1px solid rgba(86, 86, 86, 0.527);
    box-shadow: 4px 4px 2px rgb(201, 201, 201);
    background-color: white
 
 
}
 
.box-4{
    border: 1px solid rgba(86, 86, 86, 0.527);
    box-shadow: 4px 4px 2px rgb(201, 201, 201);
    background-color: white
 
 
 
}
 
.box-5{
    border: 1px solid rgb(86, 86, 86 0.527);  
    box-shadow: 4px 4px 2px rgb(201, 201, 201);  
    background-color: white
}
 
/* Button styling */
button{
    background-color: #1e90ff;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 0px;
    color: white;
    align-self: flex-end;
    margin-left: 140px;
    margin-top:30px ;
    
    
}


 
.but1{
    background-color: 1e90ff;
    padding: 6px;
    margin-left: 430px;
    margin-top:30px ;
}
 
h2{
    margin-left: 10px;
}
p{
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.808);
    line-height: 20px; 
}
 /* Footer styling */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 30px;

}
 

/* Responsive design for screens */
@media screen and (max-width: 480px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
 
    .box{
        grid-column: span 1;
    }
 
    .navigation{
        display: none;
    }
 
    .search{
        display: none;
    }
 
}
 
@media screen and (min-width: 481px) and (max-width: 800px){
    
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container{
        grid-template-columns: 1fr 1fr;
        grid-column: span 2;
        grid-row: span 1;
        grid-template-rows: auto;
    }

    .box-1{
        grid-row: span 2;
        grid-column: span 2;
        height:auto;
    }
    
    .navigation{
        display: none;
    }
 
    .search{
        display: none;
    }
 
}
 
@media screen and (min-width: 801px) and (max-width: 1024px){
 
 
 
    .container{
        width: auto;
        margin: 10px;
        grid-template-columns: 310px repeat(2, 230px);
        grid-template-rows: auto;
 
    }
 
 
    .box-1{
        height: auto;
        grid-row: span 5; 
    }

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
 
}
 
@media screen and (min-width: 1025px) and (max-width: 1280px){
    
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
 
 
    .container{
        width: auto;
        margin: 10px;
        grid-template-columns: 310px repeat(3, 230px);
        grid-template-rows: auto;
 
    }
 
 
    .box1{
        height: auto;
        grid-row: span 2; 
        grid-column: span 2;
    }
 
 
}
